altgraph==0.17
asgiref==3.3.1
astroid==2.5.3
beautifulsoup4==4.9.3
bootstrap4==0.1.0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
colorama==0.4.4
confusable-homoglyphs==3.2.0
constants==0.6.0
COVID19Py==0.3.0
decorator==4.4.2
Django==3.1.4
django-bootstrap==0.2.4
django-bootstrap4==2.3.1
django-cleanup==5.1.0
django-registration==3.1.1
django-utils-six==2.0
docopt==0.6.2
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Login==0.5.0
Flask-WTF==0.14.3
future==0.18.2
greenlet==1.0.0
idna==2.9
importlib-metadata==2.1.1
install==1.3.4
isort==5.8.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
networkx==2.5
numpy==1.19.4
openpyxl==3.0.5
pandas==1.1.4
pefile==2019.4.18
Pillow==7.0.0
pipreqs==0.4.10
playsound==1.2.2
plotly==4.14.3
pygame==1.9.6
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pylint==2.7.4
PyQt5==5.13.0
PyQt5-sip==12.8.1
pyqt5-tools==5.13.0.1.5
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.4
pywin32-ctypes==0.2.0
requests==2.23.0
retrying==1.3.3
six==1.14.0
soupsieve==2.0.1
SQLAlchemy==1.4.9
sqlparse==0.4.1
telebot==0.0.4
toml==0.10.2
typed-ast==1.4.2
urllib3==1.25.8
vk==2.0.2
vk-api==11.8.0
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
yarg==0.1.9
zipp==3.4.0
