{% extends "base.html" %}

{% block content %}
<h1>Кастинг "{{cast.name_cast}}"</h1>
<br>

<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-default btn-primary" type="button">Поиск</button>
  </span>
  <input type="text" class="form-control">
</div>
<br>

<script>
   function isEmail() {
    var str = document.getElementById("email").value;
    var status = document.getElementById("status");
    var re = /^[^\s()<>@,;:\/]+@\w[\w\.-]+\.[a-z]{2,}$/i;
    if (re.test(str)) status.innerHTML = "Адрес правильный";
      else status.innerHTML = "Адрес неверный";
    if(isEmpty(str)) status.innerHTML = "Поле пустое";
   }
   function isEmpty(str){
    return (str == null) || (str.length == 0);
   }
  </script>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Сортировать
  </button>
  <ul class="dropdown-menu">
      <li><button type="button" class="dropdown-item" onclick="isEmail()">Возраст</button></li>
      <li><button type="button" class="dropdown-item">Имя</button></li>
      <li><button type="button" class="dropdown-item">Фамилия</button></li>
      <li><div class="dropdown-divider"></div></li>
      <li><button type="button" class="dropdown-item">Основной состав</button></li>
  </ul>
</div>
{% for item in news%}
<div class="col-md6 border rounded">

    <div class="demo">
    <input type="checkbox" id="{{ loop.index }}" class="hide"/>
    <label for="{{ loop.index }}" >{{item.name_person}}</label>
    <div>
        <h2>{{cast.name_cast}}</h2>
    {% if item.is_private == True %}
        <h3>Основной состав</h3>
    {% endif %}
    <h5>{{item.name_person}}</h5>
    <h5>{{item.age}}</h5>
    <h5>{{item.city}}</h5>
    <h5>{{item.networks}}</h5>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
        {% if current_user.is_authenticated and current_user == item.user %}
            <div>
                <a href="/edit_person/{{ item.id }}" class="btn btn-warning">
                    Изменить
                </a>
                <a href="/news_delete/{{cast.id}}/{{item.id}}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
        {% endif %}
    </div>
    </div>
    <br/>
    </div>
</div>
<br>
{% endfor %}

{% endblock %}
