<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/9353/production/_117351773_mars_perseverance_nrf_0009_0667756352_693ecm_n0030000ncam05000_01_295j.jpg" alt="фотографии человека нет">
<img src="{url_for('image_person', filename='rolex.png')}" alt="фотографии человека нет">
<img src="../static/img/1.png" width="286" height="407"
                                        alt="здесь должна была быть картинка, но не нашлась">
</body>
</html>